
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a id="btn_add" href="@Url.Action("Add", "AddToCart")" class="btn btn-info btn-lg" style="margin-left:60px">
    <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
</a>
